<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ch8_5.mapper.BoardMapper">
    <select id="selectBoardAll" resultType="com.example.ch8_5.to.BoardTo">
        <![CDATA[
            select * from board where deleted_yn = "N";
        ]]>
    </select>

    <select id="selectBoardByBno" parameterType="int" resultType="com.example.ch8_5.to.BoardTo">
        <![CDATA[
        select * from board where deleted_yn = "N" and bno = #{bno};
        ]]>
    </select>

    <insert id="insertBoard" parameterType="com.example.ch8_5.to.BoardTo">
        <![CDATA[
            insert into board ( title, writer, content, write_date, update_date, board_like ) value ( #{title}, #{writer}, #{content}, #{writeDate}, #{updateDate}, #{boardLike}  );
        ]]>
    </insert>

    <update id="updateBoard" parameterType="com.example.ch8_5.to.BoardTo">
        <![CDATA[
            update board set title = #{title}, content = #{content}, update_date = now() where bno = #{bno} and writer = #{writer}
        ]]>
    </update>

    <update id="hideBoard" parameterType="com.example.ch8_5.to.BoardTo">
        <![CDATA[
            update board set deleted_yn = 'Y' where bno = #{bno} and writer = #{writer};
        ]]>
    </update>

    <delete id="deleteBoard" parameterType="map">
        <![CDATA[
        -- 1. 댓글 먼저 삭제 (게시물 - 댓글 테이블이 연결되어있음)
        DELETE FROM board_comment
        WHERE pcno = #{bno};

        -- 2. 게시글 삭제
        DELETE FROM board
        WHERE bno = #{bno} AND writer = #{writer};
        ]]>
    </delete>

    <select id="searchBoard" parameterType="String" resultType="com.example.ch8_5.to.BoardTo">
        <![CDATA[
        SELECT *
        FROM board
        WHERE deleted_yn = 'N'
          AND (title LIKE CONCAT('%', #{keyword}, '%')
            OR content LIKE CONCAT('%', #{keyword}, '%'))
        ORDER BY bno DESC;
        ]]>
    </select>


</mapper>